:root{
    --wood_rt: rgba(102,87,26,1);
    --wood_rt_01: rgba(102,87,26,0.1);
    --wood_rt_02: rgba(102,87,26,0.2);
    --wood_rt_03: rgba(102,87,26,0.3);
    --wood_rt_04: rgba(102,87,26,0.4);
    --wood_rt_05: rgba(102,87,26,0.5);
    --wood_rt_06: rgba(102,87,26,0.6);
    --wood_rt_07: rgba(102,87,26,0.7);
    --wood_rt_08: rgba(102,87,26,0.8);
    --wood_rt_09: rgba(102,87,26,0.9);
}

/* GROSOR DEL SCROLL*/
::-webkit-scrollbar{width: 1px;}

/* FONDO DEL SCROLL*/
::-webkit-scrollbar-track{background-color: rgba(255,255,255,1);} 

/* ACCION DEL SCROLL*/
::-webkit-scrollbar-thumb{border-radius: 50px;background-color: rgba(0,0,0,0.4);} 

/* BOTONES DEL SCROLL*/
::-webkit-scrollbar-button{width: 0%; height: 0%;background-color: rgba(255,255,255,0);}

.none{display: none !important;}

.wood-bg{
    background-color: var(--wood_rt);
}
.wood-bg:hover{
    background-color: black !important;
}

.white-bg{
    background-color: white !important;
}

.wood-cl{
    color: var(--wood_rt) !important;
}

.white-cl{
    color: white !important;
}

.div-center{vertical-align: middle; display: flex; justify-content: center;}
.side-text-vertical-center{
    height: 80%;
}
.side-text-vertical-center p{
    margin: auto;
    line-height: 2rem;
    padding-inline: 2rem;
}

.text-center{text-align: center;} 
.text-left{text-align: left;} 
.text-right{text-align: right;} 
.line-normal{line-height: normal !important;}

.century{
    font-family: Century Gothic, sans-serif;
    font-style: normal;
}

.style-normal{font-style: normal !important;}
.style-italic{font-style: italic !important;}
.style-bold{font-style: bold !important;}
.bold-100{font-weight: 100 !important;}
.bold-200{font-weight: 200 !important;}
.bold-300{font-weight: 300 !important;}
.bold-400{font-weight: 400 !important;}
.bold-500{font-weight: 500 !important;}
.bold-600{font-weight: 600 !important;}
.bold-700{font-weight: 700 !important;}
.bold-800{font-weight: 800 !important;}
.bold-900{font-weight: 900 !important;}

#toast-container {
    left: 0 !important;
    padding-bottom: 21px !important;
    padding-inline: 2rem !important;
}

.toast-btn{
    
}

body{
    background-color: white !important;
    font-size: 11px;
}

nav{
    background-color: white !important;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

nav a {
    color: var(--wood_rt) !important;
    height: 56px;
}

nav svg {
    height: 80%;
    margin: auto;
    margin-top: 10px;
}

.intro{
    width: 100%; height: 100%;
    position: fixed;
    transition: all 0.5s;
}

.opacity-null{
    opacity: 0;
}

.logo{
    transform: scale(0.7);
    transition: all 1s;
}

.draw-logo{
    fill: transparent;
    stroke: var(--wood_rt); stroke-width: 4px;
}

.slogan-logo{
    transition: all 1s;
    font-size: 18.61px; font-family: CenturyGothic, Century Gothic, sans-serif;
    letter-spacing: 0.17em; fill: var(--wood_rt); 
}

.swiper-slide{
    height: auto !important;
    overflow: hidden;
}

/* Loader Spin */
.loader-spin {
    height: 32px; width: 32px;
    display: block;
    position: absolute;
    bottom: 32%;
    transition: all 0.5s;
  }
  .loader-spin span {
      display: block;
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
  }
  .loader-spin span::before {
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
      border: 3px solid var(--wood_rt);
      border-bottom: 3px solid transparent;
      border-radius: 50%;
      -webkit-animation: loader-spin-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
              animation: loader-spin-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }
  @-webkit-keyframes loader-spin-1 {
      0%   { -webkit-transform: rotate(0deg); }
      40%  { -webkit-transform: rotate(180deg); }
      60%  { -webkit-transform: rotate(180deg); }
      100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes loader-spin-1 {
      0%   { transform: rotate(0deg); }
      40%  { transform: rotate(180deg); }
      60%  { transform: rotate(180deg); }
      100% { transform: rotate(360deg); }
  }
  .loader-spin span::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      margin: auto;
      width: 6px;
      height: 6px;
      background: var(--wood_rt);
      border-radius: 50%;
      -webkit-animation: loader-spin-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
              animation: loader-spin-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }
  @-webkit-keyframes loader-spin-2 {
      0%   { -webkit-transform: translate3d(0, -32px, 0) scale(0, 2); opacity: 0; }
      50%  { -webkit-transform: translate3d(0, 0, 0) scale(1.25, 1.25); opacity: 1; }
      100% { -webkit-transform: translate3d(0, 8px, 0) scale(0, 0); opacity: 0; }
  }
  
  @keyframes loader-spin-2 {
      0%   { transform: translate3d(0, -32px, 0) scale(0, 2); opacity: 0; }
      50%  { transform: translate3d(0, 0, 0) scale(1.25, 1.25); opacity: 1; }
      100% { transform: translate3d(0, 8px, 0) scale(0, 0); opacity: 0; }
  }

  /* content */

.content{
    display: none; transition: all 0.5s;
}

#modal-select-product{
    overflow: hidden !important;
}

.btn-plus{
    height: 36px;
    width: 64px;
}

.btn-back{
    height: 36px;
    width: 36px;
    box-shadow: none !important;
    border-radius: 5px;
    position: absolute;
    left: -26px;
    top: -7px;
}

.btn-page {
    box-shadow: none !important;
    border-radius: 5px;
}
.btn-page:hover{
    box-shadow: none !important;
    background-color: black !important;
}

.btn-page:focus{
    background-color: var(--wood_rt) !important;
}

.btn-page-nota{
    width: 80%;
    margin-inline: 10%;
    margin-top: 1rem;
}

.btn-page-add-orden{
    width: 70%;
    margin-inline: 15%;
    margin-top: 1rem;
}

.div-tab-categoria {
    overflow-x: scroll;
    height: 60px;
    margin-top: 0px;
    scroll-behavior: smooth;
    background-color: white;
}

.div-tab-categoria::-webkit-scrollbar {
    display: none;
}

.div-tab-categoria div{
    width: max-content;
}

.tab-categoria{
    border-bottom: 3px solid transparent;
    font-family: Century Gothic, sans-serif;
    color: var(--wood_rt);
    font-style: normal;
    text-transform: uppercase;
    line-height: 4.6rem;
    padding-block: 1.2rem;
    padding-inline: 1rem;
    opacity: 0.4;
    transition: all 0.2s;
}

.tab-active{
    border-bottom: 3px solid var(--wood_rt);
    background: rgb(102,87,26);
    background: linear-gradient(0deg, rgba(102,87,26,0.5) 0%, rgba(255,255,255,1) 20%);
    opacity: 1;
}

.tabs-swiper{
    
}

.div-categoria {
    margin: 2rem;
    border: none;
    box-shadow: none;
}

.title-categoria{
    width: 81%;
    border-bottom: 1px solid var(--wood_rt);
    border-left: 1px solid var(--wood_rt);
    padding-inline: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: Century Gothic, sans-serif;
    color: var(--wood_rt);
    font-style: italic;
    margin-block: 1rem;
    margin-inline: 2rem;
}

.div-categoria > li > div{
    border: none;
    padding: 0;
}

.div-producto {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-block: 10px;
    margin-inline: 2rem;

    padding-inline: 2rem;
    padding-block: 1rem;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.40);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.40);

    border-radius: 8px;
}

.div-producto div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.title-producto{
    width: 100%;
    padding-top: 6px;
    margin-block: 0px;
    font-family: Century Gothic, sans-serif;
    color: var(--wood_rt);
}

.descripcion-producto{
    height: 8rem;
    overflow-y: scroll;
}

.div-producto-modal {
    margin-bottom: 0rem !important;
    margin-block: 1rem;
    padding-inline: 2rem;
    border-radius: 0;
    border-bottom: 1px solid var(--wood_rt);
}

.div-addnote-modal{
    margin-bottom: 1rem !important;
    margin-block: 2rem;
    padding-inline: 2rem;
    border-radius: 0;
    border-bottom: 1px solid var(--wood_rt);
}

.div-resume-modal {
    margin-bottom: 0rem !important;
    margin-block: 4rem;
    padding-inline: 2rem;
    border-radius: 0;
    border-bottom: 1px solid var(--wood_rt);
}

/* .div-addnote-modal{height: 251px;} */

.div-list-productos{
    display: block !important;
    overflow-y: scroll;
}

.div-producto-modal p, .div-addnote-modal p, .div-resume-modal p{
    padding-bottom: 2rem;
}

/* .div-addnote-modal-none{
    border-bottom: 0px solid var(--wood_rt) !important;
    margin-bottom: 0rem !important;
} */

.div-producto-modal div, .div-resume-modal div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div-number{
    display: grid;
    grid-template-columns: 64px 60px 64px;
    grid-column-gap: 0;
    grid-row-gap: 0px;
    margin-block: 2rem !important;
    margin: auto;
}

.div-follow{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0px;
    padding-inline: 5% !important;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
}

.custom-textarea{
    border: 1px solid var(--wood_rt) !important;
    padding-inline: 1rem !important;
    font-family: "Century Gothic", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem !important;
    height: 10rem !important;
}

.custom-textarea:focus{
    border-bottom: 1px solid var(--wood_rt) !important;
    -webkit-box-shadow: 0 0 0 0 solid var(--wood_rt) !important;
    box-shadow: 0 0 0 0 solid var(--wood_rt) !important;
}

.li-orden-producto{
    height: 66%;
    overflow-y: scroll;
}
.div-orden-producto{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding-inline: 1rem;
    border-bottom: 1px solid var(--wood_rt_02);
    padding-bottom: 0.8rem;
}

.div-continuar-orden{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-inline: 1.5rem;
}

.side-orden{
    height: 100%;
}

#modal-alert{
    width: 80%;
    margin: 10%;
    top: 30% !important;
    border-radius: 10px;
}

#modal-alert > div > p{margin-block: 0;margin-bottom: 1rem;}

.badge-data {
    position: absolute;
    right: 13px;
    top: 29px;
    background-color: var(--wood_rt);
    height: 14px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    padding-inline: 4px;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .2s ease-in-out .2s forwards, scale .2s ease-in-out .4s both;
}
.checkmark__check{transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards}
    @keyframes stroke{100%{stroke-dashoffset: 0}}
    @keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}
    @keyframes fill{100%{box-shadow: inset 0px 0px 0px 30px #7ac142}}